<h1><%= link_to t(:tools), tools_path %> / <%= t(:find_duplicates) %></h1>

<% if @duplicates.empty? %>
<p><%= t(:duplicates_not_found) %></p>
<% else %>
<table cols="3">
  <tr>
    <th><%= t(:filename) %> 1</th>
    <th><%= t(:filename) %> 2</th>
  </tr>
<% @duplicates.each do |row| %>
  <tr>
    <td><%= row['fd1_filename'] %> (<%= link_to "disk", disk_path(row['fd1_disk_id']), :class => 'ref' %>)</td>
    <td><%= row['fd2_filename'] %> (<%= link_to "disk", disk_path(row['fd2_disk_id']), :class => 'ref' %>)</td>
  </tr>
<% end %>
</table>
<% end -%>
