<h1><%= t(:tools)%></h1>
<%= link_to t(:find_duplicates), tools_find_duplicates_path, :class => 'button' %>
<p><%= t(:find_duplicates_description) %></p>
<%= link_to t(:find_series_duplicates), tools_find_series_duplicates_path, :class => 'button' %>
<p><%= t(:find_series_duplicates_description) %></p>
<%= link_to t(:stop_amule), tools_stop_amule_path, :class => 'button' %>
<p><%= t(:stop_amule_description) %></p>
<%= link_to t(:start_amule), tools_start_amule_path, :class => 'button' %>
<p><%= t(:start_amule_description) %></p>
