<h1><%= t(:tools) %></h1>
<%= link_to t(:find_duplicated_movies), tools_find_duplicated_movies_path, :class => 'button' %>
<p><%= t(:find_duplicates_description) %></p>
<%= link_to t(:find_duplicated_series), tools_find_duplicated_series_path, :class => 'button' %>
<p><%= t(:find_series_duplicates_description) %></p>
<%= link_to t(:stop_amule), tools_stop_amule_path, :class => 'button' %>
<p><%= t(:stop_amule_description) %></p>
<%= link_to t(:start_amule), tools_start_amule_path, :class => 'button' %>
<p><%= t(:start_amule_description) %></p>
<%= link_to t(:copy_from_server_to_external), tools_copy_from_server_to_external_path, :class => 'button' %>
<p><%= t(:copy_from_server_to_external_description) %></p>
