<h1><%= t(:files) %></h1>

<%= form_tag files_path, :method => "get", :remote => true, :data => { 'turboform' => true } do %>
<%= label_tag(:search, t(:search_file)) %>
<%= text_field_tag :search, params[:search], :autofocus => 'autofocus' %>
<%= submit_tag t(:search), :name => nil, :class => 'button' %>
<% end %>

<h2><%= t(:downloads) %></h2>
<% if @downloads_last_update && @downloads && ! @downloads.empty? %>
<p><strong><%= t(:last_update) %>:</strong> <%= l(@downloads_last_update) %></p>
<p><strong><%= t(:total_downloads) %>:</strong> <%= @downloads.count %></p>
<table>
	<tr>
		<th><%= t(:name) %></th>
		<th><%= t(:percentage) %></th>
	</tr>

	<% @downloads.each do |download| %>
	<tr>
		<td><%= download.filename %></td>
		<td><%= download.percentage %></td>
	</tr>
	<% end %>
</table>
<% else %>
<p><%= t(:downloads_search_not_found)%></p>
<% end -%>

<h2><%= t(:files) %></h2>
<% if @files.empty? %>
<p><%= t(:files_search_not_found)%></p>
<% else %>
<p><strong><%= t(:total_files) %>:</strong> <%= @files.count %></p>
<table>
	<tr>
		<th><%= t(:name) %></th>
		<th><%= t(:size_mb) %></th>
		<th><%= t(:disk) %></th>
	</tr>

	<% @files.each do |file| %>
	<tr>
		<td><%= file.filename %></td>
		<td><%= file.size_mb %></td>
		<td><%= link_to file.disk.name, disk_path(file.disk), :class => 'ref' %></td>
	</tr>
	<% end %>
</table>

<%= will_paginate @files %>
<% end -%>

