<%= form_for @disk do |f| %>

<% if @disk and @disk.errors.any? %>
<div id="error_explanation">
	<h2> <%= pluralize(@disk.errors.count, "error") %> prohibited
	this disk from being saved: </h2>
	<ul>
		<% @disk.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<p>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :disk_type %>
	<br>
	<%= f.select(:disk_type) do %>
		<% Disk.disk_types.keys.each do |d| -%>
			<%= content_tag(:option, d, value: d, selected: @disk.disk_type == d) %>
		<% end %>
	<% end %>
</p>

<p>
	<%= f.submit :class => 'button' %>
</p>

<% end %>