<%= form_for @disk do |f| %>

<p>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :type %>
	<br>
	<%= f.select(:disk_type) do %>
		<% Disk.disk_types.keys.each do |d| -%>
			<%= content_tag(:option, d, value: d, selected: @disk.disk_type == d) %>
		<% end %>
	<% end %>
</p>

<p>
	<%= f.label :last_update %>
	<br>
	<% if @disk.last_sync %>
		<%= l(@disk.last_sync) %>
	<% else %>
		<%= t(:last_update_not_set) %>
	<% end -%>
</p>

<p>
  <%= f.label :total_size %>
  <br>
  <%= f.text_field :total_size %>
</p>

<p>
  <%= f.label :free_size %>
  <br>
  <%= f.text_field :free_size %>
</p>

<p>
	<%= f.submit :class => 'button' %>
</p>

<% end %>
