<h1><%= t(:disks) %></h1>

<%= link_to t(:new_disk), new_disk_path, :class => 'button' %>

<table>
	<tr>
		<th><%= t(:name) %></th>
		<th><%= t(:type) %></th>
		<th><%= t(:last_update) %></th>
    <th><%= t(:total_size) %></th>
    <th><%= t(:free_size) %></th>
		<th colspan="4"><%= t(:actions) %></th>
	</tr>

	<% @disks.each do |disk| %>
	<tr>
		<td><%= disk.name %></td>
		<td><%= disk.disk_type %></td>
		<td><% if disk.last_sync %><%= l(disk.last_sync, format: :simple) %><% end %></td>
    <td><%= get_human_size(disk.total_size) %></td>
    <td><%= get_human_size(disk.free_size) %></td>
		<td class="action"><%= link_to t(:show), disk_path(disk), :class => 'button' %></td>
		<td class="action"><%= link_to t(:update_content), update_content_path(disk), :class => 'button' %></td>
		<td class="action"><%= link_to t(:edit), edit_disk_path(disk), :class => 'button' %></td>
		<td class="action"><%= link_to t(:destroy), disk_path(disk),
		method: :delete,
		data: { confirm: t(:question_sure) }, :class => 'button' %></td>
	</tr>
	<% end %>
</table>


<%= will_paginate @disks %>