<h1><%= link_to t(:disks), disks_path %> / <%= @disk.name %></h1>

<%= link_to 'Edit', edit_disk_path(@disk), :class => 'button' %>
<p>
	<strong><%= t(:name) %>:</strong>
	<%= @disk.name %>
</p>

<p>
	<strong><%= t(:type) %>:</strong>
	<%= @disk.disk_type %>
</p>

<h2><%= t(:files) %></h2>
<table>
	<tr>
		<th><%= t(:filename) %></th>
		<th><%= t(:size_mb) %></th>
		<th><%= t(:actions) %></th>
	</tr>
	<%= render @file_disks %>
</table>
<%= will_paginate @file_disks %>

<h2><%= t(:add_new_file) %></h2>
<%= render 'file_disks/form' %>
