<h1><%= link_to t(:disks), disks_path %> / <%= @disk.name %></h1>

<%= link_to 'Edit', edit_disk_path(@disk), :class => 'button' %>
<p>
	<strong><%= t(:name) %>:</strong>
	<%= @disk.name %>
</p>

<p>
	<strong><%= t(:type) %>:</strong>
	<%= @disk.disk_type %>
</p>

<p>
	<strong><%= t(:last_update) %>:</strong>
	<% if @disk.last_sync %>
		<%= l(@disk.last_sync) %>
	<% else %>
		<%= t(:last_update_not_set) %>
	<% end -%>
</p>

<p>
  <strong><%= t(:total_size) %>:</strong>
  <%= get_human_size(@disk.total_size) %>
</p>

<p>
  <strong><%= t(:free_size) %>:</strong>
  <%= get_human_size(@disk.free_size) %>
</p>

<h2><%= t(:files) %></h2>
<table>
	<tr>
		<th><%= t(:filename) %></th>
		<th><%= t(:size_mb) %></th>
		<th><%= t(:score) %></th>
		<th colspan="2"><%= t(:actions) %></th>
	</tr>
	<% @link_to_back = URI.encode(Base64.encode64(request.path)) %>
	<%= render @file_disks %>
</table>
<%= will_paginate @file_disks %>

<h2><%= t(:add_new_file) %></h2>
<%= render 'file_disks/form' %>
