<h1><%= link_to t(:disks), disks_path %> / <%= link_to @disk.name, disk_path(@disk) %> / <%= t(:update_content) %></h1>
<p><%= t(:update_content_message, :disk_name => @disk.name)%></p>

<%= form_tag(updating_content_path(@disk, :format => :json), :id => 'start_process', :remote => true) do %>
  <%= submit_tag(t(:start), :class => 'button') %><div id="loading"><%= t(:loading) %></div>
<% end %>
<div id="process_result"></div>

<div id="progress">
<%= t(:progress) %><br/>
<%= t(:stage) %>: <span id="progresstext"></span><br/>
<span id="progressnumber">0</span>% <progress id="progressbar" value="0" max="100"></progress>
</div>
