<h1><%= link_to t(:hash_files), hash_files_path %> / <%= @hash_file.id %></h1>

<%= link_to 'Edit', edit_hash_file_path(@hash_file), :class => 'button' %>
<p>
	<strong><%= t(:score) %>:</strong>
	<%= @hash_file.score %>
</p>
