<h1><%= t(:jobs) %></h1>
<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:stage) %></th>
    <th><%= t(:progress) %></th>
    <th><%= t(:creation) %></th>
    <th><%= t(:last_update) %></th>
    <th><%= t(:actions) %></th>
  </tr>
  <% @jobs.each do |job| %>
	<tr>
		<td><%= job.description %></td>
    <td><%= job.progress_stage %></td>
    <td><%= job.progress %>/<%= job.progress_max %></td>
    <td><%= job.created_at %></td>
    <td><%= job.updated_at %></td>
    <td class="action"><%= link_to t(:show), job_path(job), :class => 'button' %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate @jobs %>
