<h1><%= t(:jobs) %></h1>

<%= turbo_stream_from 'jobs' %>

<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:stage) %></th>
    <th><%= t(:error) %></th>
    <th><%= t(:progress) %></th>
    <th><%= t(:creation) %></th>
    <th><%= t(:last_update) %></th>
    <th colspan="3"><%= t(:actions) %></th>
  </tr>
  <% @jobs.each do |job| %>
  <%= turbo_stream_from job %>
	<tr>
		<td><%= job.description %></td>
    <td><%= job.progress_stage %></td>
    <td><%= job.error_message %></td>
    <td><%= job.progress %>/<%= job.progress_max %></td>
    <td><%= job.created_at %></td>
    <td><%= job.updated_at %></td>
    <td class="action"><%= link_to t(:show), job_path(job), :class => 'button' %></td>
    <td class="action"><%= link_to t(:cancel), job_path(job, :task => 'cancel' ),
    data: { "turbo-method": :put, "turbo-confirm": t(:question_sure) }, :class => 'button' %></td>
    <td class="action"><%= link_to t(:destroy), job_path(job),
		data: { "turbo-method": :delete, "turbo-confirm": t(:question_sure) }, :class => 'button' %></td>
	</tr>
	<% end %>
</table>
<%= paginate @jobs %>
