<h1><%= @job.job_id %></h1>

<p>
	<strong><%= t(:name) %>:</strong>
	<%= @job.description %>
</p>
<p>
	<strong><%= t(:stage) %>:</strong>
	<span id="progresstext"><%= @job.progress_stage %></span>
</p>
<p>
	<strong><%= t(:progress) %>:</strong>
	<span id="progressnumber"><%= @job.progress %></span>% <progress id="progressbar" value="0" max="100"></progress>
</p>
<p>
	<strong><%= t(:creation) %>:</strong>
	<%= @job.created_at %>
</p>
<p>
	<strong><%= t(:last_update) %>:</strong>
	<%= @job.updated_at %>
</p>
<script language="javascript">
(function() {
  $(document).on("turbolinks:load", function() {
		pollProgressStatus(window.location.href, window.location.href);
  });
}).call(this);
</script>
