<h1><%= @job.id %></h1>

<%= turbo_stream_from @job %>

<p>
	<strong><%= t(:name) %>:</strong>
	<%= @job.description %>
</p>
<p>
	<strong><%= t(:stage) %>:</strong>
	<span id="progresstext"><%= @job.progress_stage %></span>
</p>

<% if @job.finish_status_FINISHED_WITH_ERRORS? %>
<p>
  <strong><%= t(:error) %>:</strong>
  <%= @job.error_message %>
</p>
<% end %>

<p>
	<strong><%= t(:progress) %>:</strong>
	<span id="progressnumber"><%= @job.progress %></span>% <progress id="progressbar" value="<%= @job.progress %>" max="100"></progress>
</p>

<p>
	<strong><%= t(:creation) %>:</strong>
	<%= @job.created_at %>
</p>
<p>
	<strong><%= t(:last_update) %>:</strong>
	<%= @job.updated_at %>
</p>
