<%= form_for([@disk, @file_disk]) do |f| %>
<p>
	<%= f.label :filename %>
	<br>
	<%= f.text_field :filename %>
</p>
<p>
	<%= f.label :size_mb %>
	<br>
	<%= f.text_field :size_mb %>
</p>
<p>
	<%= f.label :score %>
	<br>
	<%= f.text_field :score %>
</p>
<input name="link_to_back" type="hidden" value="<%= params[:link_to_back] %>"/>
<p>
	<%= f.submit :class => 'button' %>
</p>
<% end %>
