<h1>Files</h1>

<table>
	<tr>
		<th>File name</th>
		<th>Size MB</th>
		<th>Disk</th>
		<th colspan="3">Actions</th>
	</tr>

	<% @files.each do |file| %>
	<tr>
		<td><%= file.filename %></td>
		<td><%= file.size_mb %></td>
		<td><%= file.disk %>
		<td class="action"><%= link_to 'Show', file_path(disk), :class => 'button' %></td>
		<td class="action"><%= link_to 'Edit', edit_file_path(disk), :class => 'button' %></td>
		<td class="action"><%= link_to 'Destroy', file_path(disk),
		method: :delete,
		data: { confirm: 'Are you sure?' }, :class => 'button' %></td>
	</tr>
	<% end %>
</table>

<%= will_paginate @files %>